pandas
matplotlib
numpy
jupyterlab
scipy
streamlit
emd
solara
seaborn
pywavelets
emd
sphinx 
sphinx_rtd_theme 
openpyxl
passlib
tqdm
openpyxl
plotly
plotly-resampler
jupytext
nbconvert
great_tables
weasyprint
toml
